<header-card title="All Students Confirmed For Practical Exam"></header-card>

<ng-container *ngIf="(students$|async) as state" [ngSwitch]="state.dataState">
    <mat-card *ngSwitchCase="DataState.LOADED" style="margin-top: 10px; margin-bottom: 30px; padding: 10px">
        <mat-card-content>
            <ngx-datatable [rows]="state.data" class="material" rowHeight="auto" [headerHeight]="40"
                [columnMode]="'force'" [footerHeight]="40">
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="School Name"></ngx-datatable-column>
                <ngx-datatable-column name="Assistant Date">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value|date:'dd-MM-yyyy'}}
                    </ng-template>
                </ngx-datatable-column>
                 <ngx-datatable-column  name="Status"></ngx-datatable-column>
            </ngx-datatable>
        </mat-card-content>
    </mat-card>

    <loading-spinner *ngSwitchCase="DataState.LOADING"></loading-spinner>
</ng-container>