table {
  border: 1px solid #c4c4c4 !important;
  border-collapse: collapse;
  width: 100%;
}

table td,
th {
  border: 1px solid #c4c4c4 !important;
  padding: 7px 10px;
  text-align: left;
}

mat-card {
  margin-top: 10px;
}
