<header-card title="Manage Driving Schools"></header-card>
<school-form></school-form>

<ng-container *ngIf="schoolState$ | async as state" [ngSwitch]="state.dataState">
  <mat-card *ngSwitchCase="DataState.LOADED" style="margin-top: 10px; margin-bottom: 30px; padding: 10px">
    <mat-card-content>
      <ngx-datatable [rows]="state.data" class="material" rowHeight="auto" [headerHeight]="40" [columnMode]="'force'"
        [footerHeight]="40">
        <ngx-datatable-column [maxWidth]="100" name="ID"></ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Contact"></ngx-datatable-column>
        <ngx-datatable-column name="Location"></ngx-datatable-column>
        <ngx-datatable-column name="Manager">
          <ng-template ngx-datatable-cell-template let-mng="value">
            {{ mng.fname + " " + mng.lname }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="practicalDay"></ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="150" name="Update">
          <ng-template ngx-datatable-cell-template let-row="row">
            <button mat-icon-button color="primary" (click)="onUpdateClicked(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="primary" (click)="navigateToStudents(row)">
              students
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>

  <loading-spinner *ngSwitchCase="DataState.LOADING"></loading-spinner>
</ng-container>