<mat-card fxLayoutGap="0.5rem" >
    <div fxFlex="50">
        <div class="imageDp"></div>
        <h5>CONDITIONS</h5>

        <div class="conditions">
            <p>The holder of this Learner Licence is not authorized<br>to drive on the road a motor vehicle</p>

            <ol>
                <li>Without the supervision of an appropriately Licensed Instructor</li>
                <li>At speed more than three quarters of the official speed limit</li>
                <li>With any alcohol content in his/her blood</li>
                <li>Carrying a person other than a licence instructor</li>
                <li>Of a class other than that a specify here in</li>
                <li>Without an identification mark in the form of letter which meets the requirements of regulation 5
                </li>
            </ol>
        </div>
    </div>
    <div fxFlex="50">
        <div class="student-info" *ngFor="let students of learners$|async">
            <p><strong>Name: </strong> {{students.name}}</p>
            <p><strong>Date of Birth:</strong> {{students.dob}}</p>
            <p><strong>Class:</strong> {{students.className}} <span class="middle"><strong>Restrictions:</strong> A, B</span></p>
            <p><strong>Date of Issue:</strong> {{students.issueDate}}</p>
            <p><strong>Date of Expiry:</strong> {{students.expiryDate}}</p>
            <p><strong>Authorized Signature:</strong> </p>
            
            <div class="circle">
                Authorized Stamp
            </div>
        </div>
    </div>
</mat-card>