<mat-card fxLayoutGap="0.5rem">
    <div fxFlex="50">
        <p>RENEWALS</p>
        <table border="1">
            <tr>
                <td>Renewals No.</td>
                <td>Renewals On.</td>
                <td>Authorized Signature</td>
                <td rowspan="7" class="vertical">
                    <span>
                        <strong>Note: </strong> This learner's licence will not be renewed if you don't undertake at
                        least
                        one driving test 10 months from the date of issue.
                    </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div fxFlex="50">
        <div class="outer-box">
            <div class="inner-box">
                <div>
                    <div class="logo">
                        <img src="assets/images/smz_logo.png" alt="">
                    </div>
                    <div class="headers">
                        <h5>ZANZIBAR ROAD - TRANSPORT AND SAFETY AUTHORITY</h5>
                        <p>Road Transport Act 2003 <br>(Under Section 91)</p>
                    </div>
                </div>

                <h1>ZANZIBAR LEARNER'S LICENCE</h1>

                <p class="serial-no">Serial No: <span>57772</span></p>
            </div>
        </div>
    </div>
</mat-card>