.mat-button-toggle{
    background-color: #1d9dc48a;
    color: #ffffff;
}

.mat-button-toggle-group{
    margin-bottom: 10px;
}

.mat-button-toggle:hover {
    background-color: transparent;
    color: #1100ff !important;    
}