<header-card title="Add Student"></header-card>

<form [formGroup]="form" fxLayout="column">
    <mat-card style="margin-bottom: 10px;">
        <mat-card-content>
            <form [formGroup]="form" fxLayoutAlign="space-between center" fxLayout="row">
                <div fxLayout="row" fxFlex="80" fxLayoutGap="1rem" fxLayout.xs="column">
                    <mat-form-field fxFlex="30">
                        <mat-label>ID TYPE</mat-label>
                        <mat-select formControlName="idtype">
                            <mat-option value="ZANID">ZAN ID</mat-option>
                            <mat-option value="NIDA">NIDA</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="67">
                        <mat-label>ID NUMBER</mat-label>
                        <input matInput formControlName="idNumber">
                    </mat-form-field>
                </div>
                <button mat-flat-button [disabled]="!isValid()" color="primary" type="button"
                    (click)="getInfo()">GET</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin-bottom: 10px;">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column">
                <mat-form-field fxFlex="23">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="fname" readonly />
                    <mat-error *ngIf="form.controls['fname'].touched && form.controls['fname'].invalid">
                        First name is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="mname" readonly />
                    <mat-error *ngIf="form.controls['mname'].touched && form.controls['mname'].invalid">
                        Middle name is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lname" readonly />
                    <mat-error *ngIf="form.controls['lname'].touched && form.controls['lname'].invalid">
                        Last name is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dob" readonly>
                    <mat-error *ngIf="form.controls['dob'].touched && form.controls['dob'].invalid">
                        Date of Birth is required field.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row " fxLayoutAlign="space-between" fxLayout.xs="column">
                <mat-form-field fxFlex="23">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" readonly>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['gender'].touched && form.controls['gender'].invalid">
                        Gender is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>Resident Address</mat-label>
                    <input matInput formControlName="address" readonly>
                    <mat-error *ngIf="form.controls['address'].touched && form.controls['address'].invalid">
                        Address is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error *ngIf="form.controls['phone'].touched && form.controls['phone'].invalid">
                        Phone number is required field.
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                    <mat-label>E-mail Address</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
                        Email Address is required field.
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end">
                <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="submit()">
                    <mat-icon>save</mat-icon> Save
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>