
.student-info p {
    font-size: 15px;
    margin-top: 10px;
}

.students{
    margin-right: auto;
    margin-left: auto;
}

h2,h4,h3{
    text-align: center;
    font-weight: bold;
}
.conditions p {
    font-size: 10px;
    text-align: center;
    font-style: italic;
    line-height: 10px;
}

.logo {
    margin: 0 auto;
    width: 80px;

    img {
        width: 100%;
    }
}